<link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://s0.wp.com/wp-includes/wlwmanifest.xml" />
<link rel="search" type="application/opensearchdescription+xml" href="{{ site.url }}/osd.xml" title="Medizaa Indonesia Official" />
<link rel="alternate" type="text/xml+oembed" href="{{ site.url }}/embed.xml" />
<link rel="search" type="application/opensearchdescription+xml" href="https://s1.wp.com/opensearch.xml" title="WordPress.com" />
